<template>
  <header>
    <h1>{{ organization.login }}</h1>
    <p>{{ organization.description }}</p>
    <div v-for="repo in repos" :key="repo.id">
      <div v-if="!repo.private">
        {{ repo.name }} :
        <a :href="repo.html_url"> {{ repo.html_url }}</a>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { useCounter } from '~/store/counter';
interface links {
  id: number;
  title: string;
  url: string;
  description: string;
}

export default defineComponent({
  async setup() {
    const [{ data: organization }, { data: repos }] = await Promise.all([
      useFetch(`https://api.github.com/orgs/nuxt`),
      useFetch(`https://api.github.com/orgs/nuxt/repos`),
    ]);

    return {
      organization,
      repos,
    };
  },
});
</script>
