

<template>
  <div>
    <div>
      <pre>{{ counter.$state }}</pre>
      <p>
        Compteur: {{ counter.n }}
        <br />
        Message de bienvenue: {{ counter.myRef }}
      </p>

      <input type="text" v-model="counter.myRef" />
      <br />
      <input type="number" v-model="counter.n" />
    </div>
    <button @click="counter.increment()">+1 number click</button>
    <NuxtLink to="/">Retour à l'accueil pour voir les modifications</NuxtLink>
  </div>
</template>

<script  lang="ts">
import { useCounter } from '~/store/counter';

export default {
  setup() {
    const counter = useCounter();
    return {
      counter,
    };
  },
};
</script>
