<template>
  <div>
    <div>Etat du message de bienvenue:{{ counter.myRef }}</div>
    <div>Etat du compteur : {{ counter.n }}</div>
    <div>Etat du compteur : {{ counter.counterToPrice }}</div>
    <div></div>
    <div v-for="item in lists" :key="item.id">
      <NuxtLink :to="item.url">
        {{ item.description }}: {{ item.title }}
      </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts">
import { useCounter } from '~/store/counter';
interface links {
  id: number;
  title: string;
  url: string;
  description: string;
}

export default {
  components: {},
  async setup() {
    const counter = useCounter();
    const lists = ref<links[]>([
      {
        id: 1,
        title: 'Pinia Store',
        url: 'counter',
        description: 'Modifier les valeurs du store',
      },
      {
        id: 2,
        title: 'Async setup',
        url: 'articles',
        description: 'Récupérer data dans un component',
      },
    ]);

    return {
      counter,
      lists,
    };
  },
};
</script>
